:root{
    font-family: "Roboto Mono", "Roboto Mono";
    width: 100%;
    height: 100%;
    --aqua: #05dfd7;
    --pink: #f35588;
    --red: #84202c;
    --gold: #c79e6e;
    --dark-red: rgb(82, 0, 20);
    --white: #000
    --peach: #deaf9d;
    --darkgray: #1c1b1d;
    
}
body {
    margin: 0;
    margin-top: 0px;
    font-family: 'Roboto Mono', monospace;
    margin-left: auto;
    margin-right: auto;
    
    
}
#mainheader{
    margin-right: 70px;
    margin-top: 30px;
}
nav {
    height: 100px;
    width: 1000px;
    margin: 0 auto 0px;
}
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    float: left;
}
nav>ul>li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

#themeheader {
    text-align: center;
}

#miami-theme {
    font-family: "Roboto Mono", "Roboto Mono";
    height: 30px;
    width: 175px;
    font-size: 17px;
    border: 0;
    outline: 0;
    background-color: var(--pink);
    color: var(--aqua);
    margin-top: 200px;
    cursor: pointer;
    border-radius: 7px;   
    
}

#olivia-theme {
    font-family: "Roboto Mono", "Roboto Mono";
    height: 30px;
    width: 175px;
    font-size: 17px;
    border: 0;
    outline: 0;
    background-color: var(--darkgray);
    color: #deaf9d;
    margin-top: 200px;
    cursor: pointer;
    border-radius: 7px;
    
}

#samurai-theme {
    font-family: "Roboto Mono", "Roboto Mono";
    height: 30px;
    width: 175px;
    font-size: 17px;
    border: 0;
    outline: 0;
    background-color: #84202c;
    color: #c79e6e;
    margin-top: 200px;
    cursor: pointer;
    border-radius: 7px;
    
}

#miaminights-theme {
    font-family: "Roboto Mono", "Roboto Mono";
    height: 30px;
    width: 175px;
    font-size: 17px;
    border: 0;
    outline: 0;
    background-color: #18181a;
    color: #e4609b;
    margin-top: 200px;
    cursor: pointer;
    border-radius: 7px;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.1); 
    }




.miamihover:hover{
    color: #e2dad0;
    transition: all .25s ease-in-out;
}
.miami {
    background-color: #f35588;
}
.miamigallery {
    color: #94294c;
}
.oliviagallery {
    color: #4e3e3e;
}
.samuraigallery {
    color: #55131b;
}
.nightsgallery {
    color: #47bac0;
}
.miamihover {
    color: #94294c;
    transition: 0.3s;
}
.miamicatina {
    color: #05dfd7;
}

.samuraihover:hover{
    color: #e2dad0;
    transition: all .25s ease-in-out;
}
.samurai {
    background-color: #84202c;
}
.samuraihover {
    color: #55131b;
    
}
.samuraicatina {
    color: #c79e6e;
}
.redsamurai {
    background-color: #84202c;
}

.oliviahover:hover{
    color: #f2efed;
    transition: all .25s ease-in-out;
}
.olivia {
    background-color: #1c1b1d;
}
.oliviahover {
    color: #4e3e3e;
    transition: 0.3s;
}
.oliviacatina {
    color: #deaf9d;
}

.nightshover:hover{
    color: #f2efed;
    transition: all .25s ease-in-out;
}
.nights {
    background-color: #18181a;
}
.nightshover {
    color: #47bac0;
    transition: 0.3s;
}
.nightscatina {
    color: #e4609b;
}


